Form{ margin: 10px; }
Form *{ margin: 3px; }
h1{ padding: 5px; }
.horizontalRow{ list-style-type:none; }
.horizontalRow li {
    display: inline;
    padding: 10px 10px 10px 10px;
    margin: 5px;
}
.horizontalRow li *{ margin: 5px; }
.horizontalRow .dateRanges{
    display: inline-block;
}
.eventContainer{
    margin: 15px auto;
    position: relative;
    width: 550px;
    outline:1px solid black;
}
.eventRibbon {
    height: 20px;
    border-radius: 25px;
}
.eventRibbon Link {
    color: white;
    textDecoration: none;

}
#description{
    height: 300px;
    width: 515px;
}
#dateRange{
    display: inline-flex;
    padding: 2px;
}
#submitBut{ float: right; }