Form{ margin: 10px; }
Form *{ margin: 3px; }
h1{ padding: 5px; }
.horizontalRow{
    list-style-type:none;

}
.horizontalRow li {
    display: inline;
    padding: 10px 10px 10px 10px;
    margin: 5px;
}
.horizontalRow li *{ margin: 5px; }
.horizontalRow .dateRanges{
    display: inline-block;
}
.eventContainer{
    margin: 0 auto;
    width: 550px;
    /* border-style: solid; */
    outline:1px solid black;

}
#description{
    height: 300px;
    width: 475px;
}
#dateRange{
    display: inline-flex;
    padding: 2px;
}
#submitBut{ float: right; }
#description{ width: 515px; }